.attendance_name{
   margin:0;
   padding: 10px 0 10px 0;
   /* background-color:rgb(60, 141, 188,0.6); */
}

.attendance{
    padding:10px 0 0 0; 
   color: white;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px  rgb(0,0,0,0.2);
    background-color: rgb(60, 141, 188);	
}
.attendance h3{
    padding-left: 10px;
}

tr:hover td{
    background:rgb(60, 141, 188,0.8);
    color:white;
}
table,tr,td{
    background-color: white;
}

